/** For Desktop Device **/
@media screen and (max-width: 1920px) and (min-width: 1440px) {
  body {
    display: flex;
  }

  header {
    width: 141.85px !important;
    height: 32.87px !important;
  }

  .left_side {
    width: 674px;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .right_side {
    overflow: hidden;
    position: relative;
    display: block;
    width: 1222.58px;
    background-color: var(--primary-color);
    padding: 57px 99px 48.8px 142px;
  }

  .right_side div:not(.circle) {
    position: relative;
    z-index: 10;
  }

  .circle {
    transform: rotate(26.837deg);
    position: absolute;
    left: 287px;
    top: -251px;
    width: 803.19px;
    height: 792.79px;
    border-radius: 803.187px;
    background: linear-gradient(
      180deg,
      rgba(247, 250, 252, 0.4) 0%,
      rgba(237, 242, 247, 0) 100%
    );
  }

  .support {
    width: 126px;
    height: 30px;
    display: flex;
    column-gap: 18px;
    align-items: center;
    margin-left: 339px;
  }

  .support div {
    font-weight: 500;
    font-size: 20px;
    color: var(--third-color);
  }

  .right_side_center {
    margin-top: 153px;
  }

  .right_side_center_card {
    width: 525px;
    height: 384px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

  .right_side_center_large_card {
    width: 100%;
    height: 334px;
  }

  .right_side_center_large_card,
  .right_side_center_small_card {
    background-color: var(--third-color);
    border-radius: 10px;
  }

  .right_side_center_large_card {
    padding: 44px 0px 33px 44px;
    background-image: url("../images/card.png");
    background-position-x: 309.9px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    background-size: 332.68px 378.75px;
    box-sizing: border-box;
  }

  .right_side_center_large_card > div {
    width: 255px;
  }

  .right_side_center_large_card h2 {
    letter-spacing: -0.68px;
    color: var(--primary-color);
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 17px;
    line-height: 37px;
  }

  .right_side_center_large_card p {
    color: var(--secodanry-color);
    font-weight: 500;
    letter-spacing: -0.32px;
    line-height: 28px;
    height: 103px;
  }

  .right_side_center_large_card button {
    width: 168px;
    height: 46px;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    color: var(--third-color);
    border-radius: 70px;
  }

  .right_side_center_small_card {
    position: absolute !important;
    width: 287px;
    height: 94px;
    right: 0;
    bottom: 0;
    top: 290px;
    display: flex;
    align-items: center;
    padding: 20px 17px 18px;
    box-sizing: border-box;
    column-gap: 18.21px;
  }

  .right_side_center_small_card div:last-child {
    color: var(--primary-color);
  }

  .right_side_center_small_card div:last-child > div:first-child {
    letter-spacing: -0.28px;
    font-style: 14px;
    font-weight: 500;
  }

  .right_side_center_small_card div:last-child > div:last-child {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
  }

  .right_side_center_small_card .graphic_icon {
    width: 19.158px;
    height: 19.158px;
  }

  .introducing_new_features {
    text-align: center;
    margin-top: 70px;
  }

  .introducing_new_features h3 {
    font-size: 40px;
    color: var(--third-color);
    font-weight: 600;
    margin-bottom: 36px;
  }

  .introducing_new_features p {
    color: #cfd9e0;
    font-size: 20px;
    line-height: 138.5%;
  }

  .right_side_center_skip {
    height: 31.04px;
  }

  .right_side_center_skip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 86.16px;
  }

  .skip_slide {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .skip_slide_person_image {
    width: 30px;
    margin: 0 27px;
  }

  .skip_slide_arrow {
    width: 18px;
  }

  .skip_slide_circle {
    width: 13px;
    height: 12px;
    background-color: #edf2f7;
    opacity: 30%;
    border-radius: 100%;
    flex-grow: 0;
  }
}
